
/* Form container styles */
.form-container {
  margin-bottom: 20px;
}

.form-container .row {
  display: flex;
  align-items: center;
  justify-content: center;  
  margin-bottom: 10px;
}

.form-container input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

.form-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* btns css */
.editbtn{
  color: #4CAF50;
  background: none;
  border: none;
  font-size: larger;
}
.deletebtn{
  color: #c50606;
  background: none;
  border: none;
  font-size: larger;
}
/* Todo list styles */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f2f2f2;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

.font-weight-bold {
  font-weight: bold;
}

/* Center align heading */
h3 {
  text-align: center;
}
